
$app-barbg		: #f1c40f;
//---------------MAIN VARIABLES ARE THESe-----
$app_light_color: #f39c12;
$app_dark_color : #33CB33;

$signup_button_color:#9D2929;
$login_button_color:#fff;
//---------------------------------------------
$header-logo		: url('../img/logo.png');
$header-bgimg		: #f1c40f !important;
$subheader-bgcolor	: #f1c40f;
$header-font-color	: #fff;

$search_box_bg		: #f39c12;
$search_icon_color	: #fff;
$search_font_color	: #fff;
$search_font_size	: 18px;

$nav_head_bg		: linear-gradient(to left, #f39c12, #f39c12) !important;
$nav_head_bgimg		: '';
$nav_content_bg		: #fff;
$nav_content_bgimg	: '';
$nav_seprator		: #eee;
$nav_color		: #000;

$cat_bg			: #fff;
$cat_font_color		: #000;
$cat_font_size		: 15px;
$cat_plus_minus		: #000;
$cat_seprator		: #eee;

$font-color		: #000;
$form-field-color	: #000;
$form-field-border	: #000;
$placeholder-color	: #000;
$placeholder-content	: #aaa;
$link-color		: #000;
$content-bgimg		: '';

$checkbox-off-bgcolor	: #ff0000;
$checkbox-off-btncolor	: #D33B3B;

$checkbox-on-bgcolor	: #17AF17;
$checkbox-on-btncolor	: #62A016;

$register-button	: #886AEA;
$submit-button		: #7FDB00;
$facebook-button	: #3F51B5;
$twitter-button		: #1DA1F2;

$list-item-separator	: #eee;

$cart-fab-button-bg	: $app-barbg;
// iniscren background
//$iniscreen-bg:linear-gradient(to left, #f1c40f ,  #f1c40f);

$iniscreen-bg:#E67E22;
